{
  "extends": "loopback",
  "rules": {
    "comma-dangle": ["error", "only-multiline"],
    "max-len": ["error", { "code": 200 }]
  },
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module"
  },
  "env": {
    "node": true
  }
}
