<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="<%= staticPath %>/css/bootstrap.min.css">

<section class="text-center">
  <h3>Tu contraseña ha sido actualizada</h3>
</section>
