<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="<%= staticPath %>/css/bootstrap.min.css">

<section class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3">
  <form class="form" action="<%= redirectUrl %>" method="post">
    <fieldset>
      <legend>Cambiar contrase単a</legend>

      <ul>
        <% errors.forEach(function(error){ %>
          <li> <%= error %> </li>
        <% }); %>
      </ul>


      <div class="form-group">
        <label for="password">Nueva contrase単a:</label>
        <input type="password" name="newPassword" class="form-control" title="password">
      </div>

      <div class="form-group">
        <label for="confirmation">Confirmar nueva contrase単a:</label>
        <input type="password" name="confirmation" class="form-control" title="confirmation">
      </div>

      <div>
        <button type="submit" class="btn btn-primary">Cambiar contrase単a</button>
      </div>
    </fieldset>
  </form>
</section>
